# Ignore compiled files
__pycache__/
*.py[cod]

# Ignore environment directories
env/
.venv/

# Ignore distribution files
build/
dist/

# Make sure .html files are not ignored
# Remove this line if it exists
